* {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(39, 55, 77);
  --bg-one-color: rgb(82, 109, 130);
  --bg-two-color: rgb(157, 178, 191);
  --light-color: rgb(221, 230, 237);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: var(--bg-one-color);
  background: linear-gradient(0deg, var(--bg-one-color) 0%, var(--bg-two-color) 100%);
}

#header {
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  color: var(--accent-color);
}

#header_name {
  font-size: 30px;
  padding-left: 1.5vh;
  padding-top: 0.2vh;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 5px var(--accent-color);
  user-select: none; 
}

#header_description {
  font-size: 14px;
  padding-left: 12px;
}

#header_link {
  font-size: 14px;
  text-decoration: underline;
  color: var(--light-color);
}

#panels_container {
  display: flex;  
  height: 95vh;
}

#examples_list_panel {
  flex: 15%;
  list-style-type: none; 
}

#code_and_output_panels {
  flex: 85%;
  display: flex; 
}

#code_panel {
  flex: 2 1 auto;
}

#output_panel {
  flex: 1 1 auto;
}

#examples_list_header {
  margin: 5px;
  padding-left: 10px;
  color: var(--light-color);
  text-shadow: 1px 1px 5px var(--accent-color);
  user-select: none; 
  font-weight: bold;
}

#examples_introduction_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#examples_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.example_list_element {
  color: var(--accent-color);
  margin: 5px;
  border-radius: 10px;
  background-color: var(--light-color);
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none; 
}

.example_list_element.example_selected {
  color: var(--light-color);
  background-color: var(--accent-color);
}

#code_editor {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

#output {
  height: 45vh;
  width: 100%;
  background-color: var(--light-color);
  line-height: 1.2;
}

#output_buttons {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.output_button {
  flex: 1 1;
  text-align: center;
  cursor: pointer;
  color: var(--accent-color);
  margin: 5px;
  border-radius: 10px;
  background-color: var(--light-color);
  user-select: none;
}

.output_button:active{
  color: var(--light-color);
  background-color: var(--accent-color);
}

#dragbar {
  margin-left: 3px;
  padding: 6px;
  cursor: ew-resize;
}

#dragbar:hover {
  padding: 6px;
  background-color: var(--accent-color);
}