* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(108,185,255);
  background: linear-gradient(180deg, rgba(108,185,255,1) 0%, rgba(200,200,200,1) 40%, rgba(255,255,255,1) 100%);
}

#header {
  height: 5vh;
}

#header_name {
  display: inline-block;
  font-size: 3vh;
  padding-left: 1vh;
  padding-top: 0.2vh;
}

#header_description {
  display: inline-block;
  font-size: 1.5vh;
  padding-left: 1vh;
}

#header_link {
  display: inline-block;
  font-size: 1.5vh;
  text-decoration: underline;
  color:darkblue;
}

#panels_container {
  display: flex;  
  height: 95vh;
}

#examples_list_panel {
  flex: 15%;
  list-style-type: none; 
}

#code_and_output_panels {
  flex: 85%;
  display: flex; 
}

#code_panel {
  flex: 2 1 auto;
}

#output_panel {
  flex: 1 1 auto;
}

#examples_list_header {
  margin: 5px;
  padding-left: 10px;
}

#examples_introduction_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#examples_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.example_list_element {
  color:darkblue;
  margin: 5px;
  border-radius: 10px;
  background-color: floralwhite;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.example_list_element.example_selected {
  color: white;
  background-color: darkblue;
}

#code_editor {
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  height: 100%;
}

#output {
  height: 400px;
  width: 98%;
  background-color: white;
  margin: 2%;
}

#output_buttons {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.output_button {
  flex: 1 1;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  user-select: none;
}

.dragbar {
  margin-left:3px;
  padding: 6px;
  cursor: ew-resize;
}

.dragbar:hover {
  padding: 6px;
  background-color: var(--accent-color);
  /* background-color: var(--accent-color);
  background: repeating-linear-gradient(
    45deg,
    var(--bg-two-color),
    var(--bg-two-color) 5px,
    var(--accent-color) 5px,
    var(--accent-color) 10px); */
}